// Breakpoint tests
$test-1: fs-scale(20px, 30px, 320px, 900px, $units: 'rem');
$test-2: fs-scale(-10px, 0, 320px, 900px, $units: 'em');

@include run(test('fs-scale', (
  $test-1: calc(1.724137931vw + #{0.9051724138rem}),
  $test-2: calc(1.724137931vw + #{-0.9698275862em})
)));
