/// Helper to get named breakpoint value from `$fs-breakpoints` map. Defaults to using 'base' as key if a single argument is passed.
/// @group Main
/// @param {Arglist} $keys - key/value
/// @return {Number} - Breakpoint width
/// @require {function} fs-map-deep-get - Fetch nested keys
/// @require {variable} $fs-breakpoints - Named breakpoints map
@function fs-breakpoint($keys...) {
  @if not global-variable-exists(fs-breakpoints) {
    @error '🔴  $fs-breakpoints map does not exist';
  }

  @if not length($fs-breakpoints) {
    @error '🔴  $fs-breakpoints map does not contain any items';
  }

  $default-key: 'global';

  // If a single value was passed, use the default key
  @if length($keys) == 1 and type-of(map-get($fs-breakpoints, $default-key)) != 'null' {
    $keys: join($default-key, $keys, comma);
  }

  $val: fs-map-deep-get($fs-breakpoints, $keys...);

  // Validate value
  @if type-of($val) != 'null' {
    @return $val;
  }
  @else {
    @error '🔴  “#{$keys}” breakpoint not found';
  }
}
