/// Helper to get color value from `$fs-colors` map
/// @group Main
/// @param {Arglist} $keys - key/value
/// @return {Color} - Color value
/// @require {function} fs-map-deep-get - Fetch nested keys
/// @require {variable} $fs-colors - Named colors map
@function fs-color($keys...) {
  @if not global-variable-exists(fs-colors) {
    @error '🔴  $fs-colors map does not exist';
  }

  @if not length($fs-colors) {
    @error '🔴  Color map does not contain any items';
  }

  $default-key: 'base';

  // If a single value was passed, use the default key
  @if length($keys) == 1 and type-of(map-get($fs-colors, $default-key)) != 'null' {
    $keys: join($default-key, $keys, comma);
  }

  $val: fs-map-deep-get($fs-colors, $keys...);

  // Validate
  @if type-of($val) != 'color' {
    @error '🔴  #{$keys} is not a valid color';
  }

  @return $val;
}
