/// Helper to get color value from `$fs-colors` map
/// @param {Arglist} $keys - key/value
/// @return {Color} - Color value
/// @require {function} fs-map-deep-get - Fetch nested keys
/// @require {variable} $fs-colors - Named colors map
///
@function fs-color($keys...) {
  @if not global-variable-exists(colors) {
    @error '🔴  $fs-colors map does not exist';
  }

  @if not length($fs-colors) {
    @error '🔴  Color map does not contain any items';
  }

  $val: '';

  // If nested color, use fs-map-deep-get()
  @if length($keys) > 1 {
    $val: fs-map-deep-get($fs-colors, $keys...);
  }
  @else {
    $val: map-get($fs-colors, nth($keys, 1));
  }

  // Validate
  @if type-of($val) != 'color' {
    @error '🔴  #{$keys} is not a valid color';
  }

  @return $val;
}
