/// Convert translucent color to flat hex code
/// @group Internals
/// @param {Color} $color - Color to provide flat fallback for
/// @param {Color} $bg-color [#fff] - Background color to mix with $color
/// @return {Color} - Hex code
/// @link https://github.com/rhysburnie/skeleton-compass/blob/master/stylesheets/bones/utilities/_color.scss
///
@function fs-color-flatten($color, $bg-color: #fff) {

  // Make sure $color is a valid color
  @if type-of($color) != 'color' {
    @error '🔴  “#{$color}” is not a valid color';
  }

  // Get opacity of color, convert to percentage to use as weight
  $weight: alpha($color) * 100%;

  // Get base color without opacity
  $rgb: rgb(red($color), green($color), blue($color));

  // Generate new flat color
  @return mix($rgb, $bg-color, $weight);
}


/// Provide hex fallback for rgba colors for IE 8 and below
/// @param {Color} $color - Color to provide flat fallback for
/// @param {Number} $opacity [1] - Opacity
/// @param {Color} $bg-color [#fff] - Background color to mix with $color
/// @require {variable} $fs-old-ie - Variable must be set to 'true' in any old IE stylesheets
/// @return {Color | Color} - rgba or hex color
/// @example scss - Simple example, assumes #fff as page background-color
///   background-color: fs-color-alpha(#abc, 0.5);
///
///   /* Default: */
///   background-color: rgba(170, 187, 204, 0.5);
///
///   /* Old IE stylesheet: */
///   background-color: #d4dde5;
///
/// @example scss - Specifying the background-color for old IE
///   background-color: fs-color-alpha(rgba(#abc, 0.5), #eee);
///
///   /* Default: */
///   background-color: rgba(170, 187, 204, 0.5);// same as above
///
///   /* Old IE stylesheet: */
///   background-color: #ccd4dd;
///
@function fs-color-alpha($color, $opacity: 1, $bg-color: #fff) {

  // Make sure $color is a valid color
  @if type-of($color) != 'color' {
    @error '🔴  “#{$color}” is not a valid color';
  }

  // Check if color has alpha value (e.g. rgba, hlsa)
  @if alpha($color) < 1 {
    // If second argument is a color
    @if type-of($opacity) == color {
      $bg-color: $opacity; // Set as the bg-color
      $opacity: alpha($color); // Set the opacity from $color
    }
  }

  // Return flat color for IE
  @if $fs-old-ie {
    @return fs-color-flatten(rgba($color, $opacity), $bg-color);
  }
  // Otherwise, return RGBA
  @else {
    @return rgba($color, $opacity);
  }
}
