/// **⚠️ DEPRECATED:** use `fs-svg-url` instead.
/// Helper to get URL-escaped inline SVG code for use with `background-image`
/// @group Main
/// @param {String} $name - Icon name
/// @return {Color} $color - Fill color
/// @require {function} fs-url-encode
/// @require {variable} $fs-svg-icons - SVG icon map
///
/// @ignore - SVG code must be escaped for older browsers (e.g. IE9)
/// @ignore - Some versions of Firefox don't like the “#” symbol, must be also be escaped
/// @ignore - IE9+ requires height/width attributes or else background-size won't work
///
/// @link https://codepen.io/tigt/post/optimizing-svgs-in-data-uris
/// @link https://css-tricks.com/probably-dont-base64-svg/
/// @link http://stackoverflow.com/questions/21840551/background-size-with-svg-squished-in-ie9-10
/// @link http://caniuse.com/#feat=datauri
///
@function fs-svg($name, $color: false, $other: false) {
  @warn 'fs-svg() is deprecated, use fs-svg-url(#{$name}, (fill: #{$color})) instead';

  // Check if icon exists
  @if not map-has-key($fs-svg-icons, $name) {
    @error '🔴  icon “#{$name}” does not exists in $fs-svg-icons map';
    @return false;
  }

  // Get icon data
  $icon-map: map-get($fs-svg-icons, $name);
  $data: map-get($icon-map, 'data');
  $height: map-get($icon-map, 'height');
  $width: map-get($icon-map, 'width');
  $other: map-get($icon-map, 'other');

  // Fill
  $fill: '';
  @if ($color) {
    $fill: ' fill="#{$color}"';
  }

  // Other attributes
  $custom-attrs: '';
  @if ($other) {
    $custom-attrs: ' #{$other}';
  }

  // Return inline SVG data
  @return 'data:image/svg+xml,' + fs-url-encode('<svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 ' + $width + ' ' + $height + '" width="' + $width + '" height="' + $height + '" preserveAspectRatio="xMidYMid meet"' + $fill + $custom-attrs + '>' + unquote($data) + '</svg>');
}
