/// Slices `$list` between `$start` and `$end`.
/// @group Sass Utils
/// @author Hugo Giraudel
/// @link http://sassylists.com/documentation.html#fs-slice
///
/// @param {List}   $list                  - list to slice
/// @param {Number} $start (1)             - start index
/// @param {Number} $end   (length($list)) - end index
///
/// @return {List | Null}
///
/// @throws List indexes $start and $end must be numbers for `fs-slice`.
/// @throws Start index has to be lesser than or equals to the end index for `fs-slice`.
/// @throws List indexes must be non-zero integers for `fs-slice`.
/// @throws Start index has to be lesser than or equal to list length for `fs-slice`.
/// @throws End index has to be lesser than or equal to list length for `fs-slice`.
///
/// @example
/// fs-slice(a b c d e, 2, 4)
/// // b c d
///
/// @example
/// fs-slice(a b c d e, 2, 2)
/// // b
///
/// @example
/// fs-slice(a b c d e, 4, 2)
/// // null
///
/// @example
/// fs-slice(a b c d e, -1, 6)
/// // null
///
@function fs-slice($list, $start: 1, $end: length($list)) {
  @if type-of($start) != 'number' or type-of($end) != 'number' {
    @warn 'List indexes #{$start} and #{$end} must be numbers for `fs-slice`.';
    @return null;
  }

  @if $start > $end {
    @warn 'Start index is #{$start} but has to be lesser than or equals to the end index (#{$end}) for `fs-slice`.';
    @return null;
  }

  @if $start < 1 or $end < 1 {
    @warn 'List indexes must be non-zero integers for `fs-slice`.';
    @return null;
  }

  @if $start > length($list) {
    @warn 'Start index is #{$start} but list is only #{length($list)} items long for `fs-slice`.';
    @return null;
  }

  @if $end > length($list) {
    @warn 'End index is #{$end} but list is only #{length($list)} items long for `fs-slice`.';
    @return null;
  }

  $result: ();

  @for $i from $start through $end {
    $result: append($result, nth($list, $i), list-separator($list));
  }

  @return $result;
}
