////
/// @author Hugo Giraudel
/// @link http://codepen.io/SitePoint/pen/dppJzX/
////

/// Computes the height of the tilted pseudo-element based on the given angle
/// @access private
//  b ◣c
//    a
@function fs-triangle-height($angle) {
  $a: 100;// width is 100%
  $opposite-angle: (90deg - $angle);

  // hypotenuse
  $c: $a / fs-strip-unit(fs-sin($opposite-angle));

  // calculate height using Pythagorean theorem
  $b: fs-sqrt(fs-pow($c, 2) - fs-pow($a, 2));

  // convert to percentage
  @return (abs($b) * 1%);
}

/// Apply an angled edge using a pseudo-element with a diagonal background
/// @group Main
/// @param {Angle} $angle - Angle
/// @param {Color} $color - Background color
/// @param {String} $position ['top'] - Either `top` or `bottom`
/// @param {String} $pseudo ['before'] - Either `before` or `after`
@mixin fs-angle($angle, $color, $position: 'top', $pseudo: 'before') {
  $height-ratio: fs-triangle-height($angle);
  background-color: $color;
  position: relative;

  &:#{$pseudo} {
    content: '';
    left: 0;
    padding-top: $height-ratio;
    position: absolute;
    width: 100%;

    // 1. Use rgba() instead of “transparent” for Safari
    // http://stackoverflow.com/a/30674347/673457
    @if ($position == 'top') {
      background-image: linear-gradient($angle, $color 50%, rgba($color, 0) 50%);
      bottom: 100%;
    }
    @else {
      background-image: linear-gradient($angle, rgba($color, 0) 50%, $color 50%);
      top: 100%;
    }
  }
}
