/// Clears floats in IE 8+
/// @group Main
/// @link http://nicolasgallagher.com/micro-clearfix-hack/
/// @link https://css-tricks.com/snippets/css/clear-fix/
/// @ignore Consider replacing with “display: flow-root” once support is broad enough.
/// @ignore https://caniuse.com/#feat=flow-root
@mixin fs-clearfix {
  &:after {
    clear: both;
    content: '';
    display: table;
  }
}
