/// Apply font smoothing in Safari, Chrome, and Firefox. Use sparringly!
/// @group Main
/// @param {Boolean} $enabled - Enable or disable smoothing
/// @link http://maximilianhoffmann.com/posts/better-font-rendering-on-osx
/// @link http://usabilitypost.com/2012/11/05/stop-fixing-font-smoothing/
@mixin fs-font-smoothing($enabled: true) {
  @if $enabled {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }
  @else {
    -moz-osx-font-smoothing: auto;
    -webkit-font-smoothing: subpixel-antialiased;
  }
}
