/// Helper mixin to set link colors
/// @group Main
/// @param {Color} $static - Static link color
/// @param {Color} $visited [$static] - Visited link color (optional)
/// @param {Color} $attention - Hover/focus/active link color
///
/// @example scss
///   a {
///     @include fs-link-colors(
///       $static: blue,
///       $attention: red,
///       $visited: purple
///     );
///   }
///
@mixin fs-link-colors($static, $attention, $visited: false) {
  @if $visited {
    &,
    &:link {
      color: $static;
    }

    &:visited {
      color: $visited;
    }
  }
  @else {
    &,
    &:link,
    &:visited {
      color: $static;
    }
  }

  &:hover,
  &:focus,
  &:active {
    color: $attention;
  }
}
