////
/// @group Main
////

/// Base media query mixin
/// @param {Number | Map} $conditions - Width or map of conditions
///
/// @example scss
///   @include fs-media((min-width: 600px)) {…}
///
///   @include fs-media((min-width: 600px, max-width: 900px, min-height: 500px, min-aspect-ratio: "1/1")) {…}
///
/// @ignore Convert units to ems when applicable http://zellwk.com/blog/media-query-units/
/// @ignore Note: EMs in media queries are relative to the initial browser font-size (16px) http://www.w3.org/TR/css3-mediaqueries/#units
/// @ignore Demo: http://www.sassmeister.com/gist/908ff8ee2e2e0b18f768fcbc87df385c
@mixin fs-media($conditions) {

  // Check if $conditions is a valid map
  @if type-of($conditions) != 'map' {
    @error '🔴 “#{$conditions}” is not a valid Sass map';
  }
  @else {
    $mq-conditions: '';

    // Convert map to properly formatted media query string
    @each $type, $value in $conditions {

      // If value is a number, we may need to convert to ems
      @if type-of($value) == 'number' {

        // Convert px to em
        @if unit($value) == 'px' {
          $value: ($value / 16px) * 1em;
        }

        // Convert rem to em
        @else if unit($value) == 'rem' {
          $value: ($value / 1rem) * 1em;
        }
      }

      // Use str-insert() with -1 index to append value to the end
      $mq-conditions: str-insert($mq-conditions, 'and (#{$type}: #{$value}) ', -1);
    }

    // Output the media query
    @media all #{$mq-conditions} {
      @content;
    }
  }
}

/// Min-width media query helper
/// @require {mixin} fs-media
/// @param {Number} $width - Breakpoint width
///
/// @example scss
///   @include fs-min-width(960px) {…}
///
@mixin fs-min-width($width) {
  @include fs-media((min-width: $width)) {
    @content;
  }
}

/// Max-width media query helper
/// @require {mixin} fs-media
/// @param {Number} $width - Breakpoint width
///
/// @example scss
///   @include fs-max-width(960px) {…}
///
@mixin fs-max-width($width) {
  @include fs-media((max-width: $width)) {
    @content;
  }
}

/// Min-height media query helper
/// @require {mixin} fs-media
/// @param {Number} $height - Breakpoint height
///
/// @example scss
///   @include fs-min-height(500px) {…}
///
@mixin fs-min-height($height) {
  @include fs-media((min-height: $height)) {
    @content;
  }
}

/// Max-height media query helper
/// @require {mixin} fs-media
/// @param {Number} $height - Breakpoint height
///
/// @example scss
///   @include fs-max-height(500px) {…}
///
@mixin fs-max-height($height) {
  @include fs-media((max-height: $height)) {
    @content;
  }
}
