/// Opacity mixin with fallbacks for old IE. Use sparringly.
/// @require {variable} $fs-old-ie - Old IE flag
/// @param {Number} $value - Opacity value (unitless integer from 0–1)
///
@mixin fs-opacity($value) {
  // Modern browsers and IE9
  @include fs-not-old-ie {
    opacity: $value;
  }

  // IE 8
  @include fs-old-ie(8) {
    -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$val})';
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$value*100});
  }

  // IE 7 and below
  @include fs-old-ie(7) {
    filter: alpha(opacity=#{$value*100});
  }
}
