////
/// @group Main
////

/// Hide in print view
@mixin fs-print-hide {
  // scss-lint:disable ImportantRule
  @media print {
    display: none !important;
  }
}

/// Only show in print view
@mixin fs-print-only {
  // scss-lint:disable ImportantRule
  display: none !important;

  @media print {
    display: block !important;
  }
}
