/// Hide in print view
// scss-lint:disable ImportantRule
@mixin fs-print-hide {
  @media print {
    display: none !important;
  }
}

/// Only show in print view
@mixin fs-print-only {
  display: none !important;

  @media print {
    display: block !important;
  }
}
